*resharper.user
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.suo
*.sln.cache
_[Rr]e[Ss]harper.*/
*.user
compile
*.bak
*.pdb
*.log
*.orig
Local.testsettings
lib/RavenDb/Server/Data/
lib/RavenDb/Server/Logs/
build/build.cmd
Staging/